@{
    ViewBag.Title = "MeyerIndustriesInvest";
}
<html>

<head>
    <title> Investment </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background:#000000">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Navbar-->
    @Html.Partial("Navbar")
    <!--Body-->
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-8"><p style="color:white;font-size:160%">Investment</p></div>
    </div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-10"><p style="color:#d2d2d2;">Meyer Industries is always looking for investors, contact the link below for where you can invest in Meyer Industries!</p></div>
    </div>
    <div class="row center-block"><p> </p></div>
    <div class="row center-block"><p> </p></div>
    <div class="row center-block"><p> </p></div>
    <div class="row center-block"><p> </p></div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-4"><p style="color:white;font-size:120%">Investment:</p></div>
    </div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-4"><p style="color:#d2d2d2;font-size:100%">Investment@meyerindustries.com</p></div>
    </div>
    <!--Lower Navbar-->
    @Html.Partial("LowerNavbarFixed")

</body>
</html>