@{
    ViewBag.Title = "MeyerIndustriesNews";
}
<html>

<head>
    <title> News </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background:#000000">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Navbar-->
    @Html.Partial("Navbar")
    <!--Body-->
    <div class=" row center-block" id="Feed Facebook" style="width:500px;">
        <div class="col-sm-2"><p> </p></div>
        <iframe class="col-sm-8 center-block" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FMeyerWeaponIndustries&amp;width=490&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=435" scrolling="yes" frameborder="0" style="border-color:black;border-width:thin;overflow:hidden;width:500px;height:350px;background:black;align-content:center;" allowtransparency="true"></iframe>
        <div class="col-sm-2"><p> </p></div>
    </div>
    <!--Lower Navbar-->
    @Html.Partial("LowerNavbarFixed")

</body>
</html>