@{
    ViewBag.Title = "LowerNavbar";
}
<html>
<body style ="background:#000000">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <!-- This is the bottom navbar!-->
    <div id="Bottom Bar" class="container center-block navbar-bottom">
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><b style="color:white;">Account</b></div>
            <div style="text-align:center;" class="col-sm-3"><b style="color:white;">Projects</b></div>
            <div style="text-align:center;" class="col-sm-3"><b style="color:white;">Products</b></div>
            <div style="text-align:center;" class="col-sm-3"><b style="color:white;">Meyer Industries</b></div>
        </div>
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/AccountManage" style="color:white;">Manage</a></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/Projects" style="color:white;">*wink*</a></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/ProductsClothing" style="color:white;">Clothing</a></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/About" style="color:white;">About Meyer Industries</a></div>
        </div>
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/AccountPurchases" style="color:white;">Purchases</a></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/ProductsWeapons" style="color:white;">Weapons</a></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/MeyerIndustriesBuisness" style="color:white;">Business</a></div>
        </div>
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/AccountShipping" style="color:white;">Shipping</a></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/ProductsCameraGear" style="color:white;">Camera Gear</a></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/MeyerIndustriesNews" style="color:white;">News</a></div>
        </div>
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/MeyerIndustriesJobOp" style="color:white;">Job Opportunity</a></div>
        </div>
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/MeyerIndustriesInvest" style="color:white;">Investors</a></div>
        </div>
        <div class="row" style="width:1186px; height:25px; background-color:#1d1d1d">
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><b> </b></div>
            <div style="text-align:center;" class="col-sm-3"><a href="/Home/Contact" style="color:white;">Contact</a></div>
        </div>
        <div>
            <p style="color:white;">Copyright © 2016 Meyer Industries</p>
        </div>
    </div>
</body>
</html>