@{
    ViewBag.Title = "Not signed in";
}
<html>
<body style="background:#000000">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Not Signed in Code-->
    <div class="center-block" style="height:20px;"><p> </p></div>
    <div class="row center-block" style="width:1186px">
        <div class="col-sm-3 center-block"><p> </p></div>
        <div class="col-sm-6 center-block"><p style="color:white;font-size:200%">Please sing in! :(</p></div>
        <div class="col-sm-3 center-block"><p> </p></div>
    </div>
    <div class="center-block" style="height:20px;"><p> </p></div>
</body>
</html>